html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.full-screen-video-container video{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.ss{
    left: 50px;
    bottom: 100px;
    position: absolute;
}

.ss .glow-on-hover {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    color: #ffff00;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.ss glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}

.ss glow-on-hover:active {
    color: #000
}

.ss glow-on-hover:active:after {
    background: transparent;
}

.ss glow-on-hover:hover:before {
    opacity: 1;
}

.ss glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #240024;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.J4F{
    left: 50px;
    bottom: 50px;
    position: absolute;
}

.J4F glow-on-hover {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    color: #FF1493;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.J4F glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}

.J4F glow-on-hover:active {
    color: #000
}

.J4F glow-on-hover:active:after {
    background: transparent;
}

.J4F glow-on-hover:hover:before {
    opacity: 1;
}

.J4F glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000033;
    left: 0;
    top: 0;
    border-radius: 50%;
}

button:hover {
  animation: shake 0.3s;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes shake {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  25% {
    transform: rotate(-10deg) translateX(-10px);
  }
  50% {
    transform: rotate(0deg) translateX(0px);
  }
  75% {
    transform: rotate(10deg) translateX(10px);
  }
  100% {
    transform: rotate(0deg) translateX(0px);
  }
}

@media (min-aspect-ratio: 16/9){
    .full-screen-video-container video{
       width: 100%;
       height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .full-screen-video-container video{
       width: auto;
       height: 100%; 
    }
}


