html,body {
    margin: 0;
}
.full-screen-video-container video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 9/16){
    .full-screen-video-container video{
        width: auto;
        height: 100%;
    }
}

@media (max-aspect-ratio: 9/16){
    .full-screen-video-container video{
        width: 100%;
        height: auto;
    }
}
